.App {
  margin: 0 auto;
  text-align: center;
}

.button {
  max-width: 200px;
}

table {
  width: 50%;
  margin: 0 auto;
}

th {
  padding: 20px;
}

tr {
  text-align: center;
}

.contact-pic {
  width:100px;
}